// @import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@border-radius-base: 4px;
@primary-color: #2888ff;
@error-color: #ee5d55;
@warning-color: #f5a623;
@success-color: #6dc467;
@breadcrumb-last-item-color: @primary-color;
@text-color: #343434;
