@import '~antd/dist/antd.less';

// components custom style
@import './MyButton/index';
@import './MyRadio/index';
@import './MyTabs/index';

// 边框圆角
@border-radius-base: 4px;
// 全局主色
@primary-color: #2888ff;
// 危险色
@error-color: #ee5d55;
// 警告色
@warning-color: #f5a623;
// 成功色
@success-color: #6dc467;
// 面包屑最后一项颜色
@breadcrumb-last-item-color: @text-color;
// 主文本色
@text-color: #343434;
// 次文本色
@text-color-secondary: #999999;
// 失效色
@disabled-color: #d9d9d9;
