@import '~antd/lib/style/themes/default.less';

.percent {
  color: #b3b3b3;
}

.loadingOutlined {
  color: @primary-color;
}

.closeCircleFilled {
  color: @error-color;
}

.checkCircleFilled {
  color: @success-color;
}

.reUploadIcon {
  color: @error-color;
}
